<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head th:replace="modelo :: header"></head>
	<body>
		<!-- Page Wrapper -->
  		<div id="wrapper">
		<div th:replace="modelo :: sidebar"></div>
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
		
		
		  <!-- Main Content -->
		  <div id="content">
				<!-- Begin Page Content -->
        <div class="container-fluid">

			<!-- Topbar -->
			<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow"><h1 class="h4 mb-2 text-gray-800">Alunos Matriculados</h1></nav>
			
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>CPF</th>
                      <th>RG</th>
                      <th>Telefone</th>
                      <th>Endere&ccedil;o</th>
                      <th>E-mail</th>
                    </tr>
                  </thead>
                  <tbody>
	                  	<tr th:each="aluno : ${alunos}">
	                    <td th:text="${aluno.name}"></td>
	                    <td th:text="${aluno.cpf}"></td>
	                    <td th:text="${aluno.telefone}"></td>
	                    <td th:text="${aluno.rg}"></td>
	                    <td th:text="${aluno.endereco}"></td>
	                    <td th:text="${aluno.email}"></td>
	                    
					</tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
		  </div>
		  <!-- End of Main Content -->



			<footer th:replace="modelo :: footer"></footer>
		</div>
		<!-- End of Content Wrapper -->
		</div>
 		<!-- End of Page Wrapper -->
	</body>
</html>

