<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
	
	<head th:fragment="header">

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		
		<title>Fit Club</title>
		
		<!-- Custom fonts for this template-->
		<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		
		<!-- Custom styles for this template-->
		<link href="/css/sb-admin-2.css" rel="stylesheet">
		<link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
		
		<!-- Bootstrap core JavaScript-->
		<script src="/vendor/jquery/jquery.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>
		
		<!-- Core plugin JavaScript-->
		<script src="/vendor/jquery-easing/jquery.easing.js"></script>
		
		<!-- Custom scripts for all pages-->
		<script src="/js/sb-admin-2.js"></script>
		
		<!-- Page level plugins -->
		<script src="/vendor/chart.js/Chart.js"></script>
		
		<!-- Page level custom scripts -->
		 <script src="/js/demo/chart-area-demo.js"></script>
		<script src="/js/demo/chart-pie-demo.js"></script>
		<script src="/vendor/datatables/jquery.dataTables.js"></script>
  		<script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
  		<script src="/js/demo/datatables-demo.js"></script>
  		<script src="/js/jquery.mask.js"></script>
  		<script src="/js/fitAcademia.js"></script>

	</head>
	
	<body>
		
		<!-- Sidebar -->
		<div th:fragment="sidebar">
			<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
			
			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
			  <div class="sidebar-brand-icon">
			    <i class="fas fa-running"></i>
			  </div>
			  <div class="sidebar-brand-text mx-3">FIT CLUB</div>
			</a>
			
			<!-- Divider -->
			<hr class="sidebar-divider">
			
			<!-- Heading -->
			<div class="sidebar-heading">
			  Recepcionista
			</div>
			
			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item">
			  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
			    <i class="fas fa-user-cog"></i>
			    <span>Gerenciar Alunos</span>
			  </a>
			  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
			    <div class="bg-white py-2 collapse-inner rounded">
			      <a class="collapse-item" href="/adicionarAluno">Cadastrar</a>
			      <a class="collapse-item" href="/pesquisarAluno">Pesquisar/Alterar</a>
			      <a class="collapse-item" href="/pesquisarUmAluno">Pagamento/F&#233;rias</a>
			    </div>
			  </div>
			</li>
			
			<!-- Nav Item - Utilities Collapse Menu -->
			<li class="nav-item">
			  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
			    <i class="fas fa-chalkboard-teacher"></i>
			    <span>Gerenciar Instrutores</span>
			  </a>
			  <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			    <div class="bg-white py-2 collapse-inner rounded">
			      <h6 class="collapse-header">Custom Utilities:</h6>
			      <a class="collapse-item" href="utilities-color.html">Colors</a>
			      <a class="collapse-item" href="utilities-border.html">Borders</a>
			      <a class="collapse-item" href="utilities-animation.html">Animations</a>
			      <a class="collapse-item" href="utilities-other.html">Other</a>
			    </div>
			  </div>
			</li>
			
			<!-- Nav Item - Utilities Collapse Menu -->
			<li class="nav-item">
			  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAula" aria-expanded="true" aria-controls="collapseAula">
			    <i class="fas fa-school"></i>
			    <span>Gerenciar Aulas</span>
			  </a>
			  <div id="collapseAula" class="collapse" aria-labelledby="headingAula" data-parent="#accordionSidebar">
			    <div class="bg-white py-2 collapse-inner rounded">
			      <h6 class="collapse-header">Custom Utilities:</h6>
			      <a class="collapse-item" href="utilities-color.html">Colors</a>
			      <a class="collapse-item" href="utilities-border.html">Borders</a>
			      <a class="collapse-item" href="utilities-animation.html">Animations</a>
			      <a class="collapse-item" href="utilities-other.html">Other</a>
			    </div>
			  </div>
			</li>
			
			<!-- Divider -->
			<hr class="sidebar-divider">
			
			<!-- Heading -->
			<div class="sidebar-heading">
			  Gerente
			</div>
			
			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item">
			  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
			    <i class="fas fa-fw fa-chart-area"></i>
			    <span>Relatórios</span>
			  </a>
			  <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
			    <div class="bg-white py-2 collapse-inner rounded">
			      <a class="collapse-item" href="/alunosMatriculados">Alunos Matriculados</a>
			      <a class="collapse-item" href="/alunosInadimplentes">Alunos Inadimplentes</a>
			      <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
			    </div>
			  </div>
			</li>
			
			<!-- Nav Item - Charts -->
			<li class="nav-item">
			  <a class="nav-link" href="#">
			    <i class="fas fa-user-tie"></i>
			    <span>Funcionários</span></a>
			</li>
			
			<!-- Divider -->
			<hr class="sidebar-divider">
			
			<!-- Heading -->
			<div class="sidebar-heading">
			  Fisioterapeuta
			</div>
			
			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item">
			  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
			    <i class="fas fa-file-medical-alt"></i>
			    <span>Avaliação Física</span>
			  </a>
			  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
			    <div class="bg-white py-2 collapse-inner rounded">
			      <a class="collapse-item" href="buttons.html">Buttons</a>
			      <a class="collapse-item" href="cards.html">Cards</a>
			    </div>
			  </div>
			</li>
			
			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">
			
			<!-- Sidebar Toggler (Sidebar) -->
			  <div class="text-center d-none d-md-inline">
			    <button class="rounded-circle border-0" id="sidebarToggle"></button>
			  </div>
			
			</ul>
		</div>
		<!-- End of Sidebar -->
    
    	<!-- Notification Div -->
		<notes th:fragment="notes">
			<!-- /.row -->

						<div class="card-body">
							<div >
								<span class="alert alert-success" th:if="${sucessoMsg}" th:text="${sucessoMsg}"></span>
							</div>
							<div >
								<span class="alert alert-info" th:if="${infoMsg}" th:text="${infoMsg}"></span>
							</div>
							<div >
								<span class="alert alert-warning" th:if="${avisoMsg}" th:text="${avisoMsg}"></span>
							</div>
							<div >
								<span class="alert alert-danger" th:if="${erroMsg}" th:text="${erroMsg}"></span>
							</div>
						<!-- .panel-body -->

			</div>
		</notes>
		<!-- End of Notification Div -->
		
		<!-- Footer -->
		<footer class="sticky-footer bg-white" th:fragment="footer">
			<div class="container my-auto">
				<div class="copyright text-center my-auto">
					<span>Copyright &copy; Fitness Club - TCC PUC Minas Virtual - Outubro de 2019</span>
				</div>
			</div>
		</footer>
		<!-- End of Footer -->
		
	</body>
	
</html>